
@media (max-width: 910px) {

	.col-heads {
		display: none;
	}

	.catalog .product {

		form {
			justify-content: flex-start;
		}

		.product__price {
			order: 1;
			align-self: flex-end;
			margin-right: 1rem;
		}

		.product__count {
			order: 2;
			align-self: flex-end;
			margin-top: 1.8rem;
		}

		.product__action {
			position: absolute;
			right: 3.5rem;
			bottom: 4.5rem;
		}
	}

	.catalog--cart .product .product__action {
		line-height: 1;
	}

}

@media (max-width: 750px) {

	.catalog .product {

		.product__category {
			display: none;
		}
	}
}

@media (max-width: 580px) {

	.catalog .product {
		height: auto;
		padding-left: 3.5rem;

		.product__name {
			flex-basis: 100%;
		}

		.product__img {
			position: static;
			margin: 1rem auto;
		}
	}

}

@media (max-width: 410px) {

	.catalog .product {

		form {
			justify-content: space-between;
		}

		.product__action {
			position: static;
			order: 3;
		}
	}

	.catalog--cart .product .product__action {
		align-self: flex-end;
	}
}
