@charset "UTF-8";

$clr-blue: #3260b5;
$clr-red0: #942222;
$clr-grey: #909090;

html{
	font-size: 10px;
	font-family: "Open Sans";
	font-style: normal;
	quotes: "\00ab" "\00bb";
	line-height: 1.3;
	color: #333333;
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
}

a {
	display: inline-block;
	color: inherit;
}

img {
	width: 100%;
	height: auto;
}

body {

	#content {
		width: 90%;
		max-width: 960px;
		margin: auto;

		text-align: left;
	}
}

section {

	header {
		margin-top: 60px;
		margin-bottom: 25px;

		h1 {
			margin-left: 1.5rem;
			font-size: 3rem;
			font-weight: 400;
		}
	}
}

.col-heads {
	height: 1em;
	margin-bottom: 2.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch;
	font-size: 1.6rem;
	color: $clr-grey;

	.col-head--price {
		flex-basis: 16rem;
	}

	.col-head--count {
		flex-basis: 11rem;
	}
}

.catalog {

	.products:empty {
		padding: 3rem;
		text-align: center;
		font-size: 1.8rem;
		color: $clr-grey;

		&:before {
			content: 'Все товары уже добавлены в корзину!';
		}
	}

	.product {
		position: relative;
		height: 22.5rem;
		padding: 5rem 3.5rem 4.5rem 18rem;
		font-size: 1.8rem;

		&:not(:last-of-type) {
			border-bottom: 1px solid $clr-grey;
		}

		form {
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			align-content: stretch;
		}

		.product__img {
			position: absolute;
			left: 3rem;
			top: 5rem;
			width: 12rem;
			height: 12rem;
		}

		.product__name {
			flex-basis: 10rem;
			flex-grow: 1;
			min-height: 4.5rem;
			font-weight: 600;
			color: $clr-blue;
		}

		.product__price {
			flex-basis: 10rem;
			margin-right: 6rem;
			font-weight: 600;
			color: $clr-red0;
		}

		.product__count {
			position:relative;
			flex-basis: 6rem;
			flex-shrink: 0;
			width: 6rem;
			height: 22px;
			border: 1px solid $clr-grey;
			border-radius: 3px;
			margin-right: 1.5rem;
			padding-left: 10px;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				cursor:pointer;
				width:20px;
				height: 20px;
				margin-right: -1px;
				border: 1px solid $clr-grey;
				background-image: url(/img/arrow_up_down.svg);
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				opacity: 1;
			}
		}

		.product__manufacturer {
			flex-basis: 100%;
		}

		.product__category {
			flex-basis: 100%;
			color: $clr-grey;

			li {
				position: relative;
				display: inline-block;

				&:not(:first-child) {
					margin-left: 1rem;

					&:before {
						content: '';
						display: inline-block;
						width: 1.2rem;
						height: 0.7em;
						margin-right: 1rem;
						background-image: url(/img/arrow_right.svg);
						background-size: 1.2rem;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}

		.product__action {
			margin-top: 1rem;
			width: 10.5rem;
			height: 3rem;
			border-radius: 5px;
			background: #ffe078;
			background: -moz-linear-gradient(top, #ffe078 0%, #f5bf05 100%);
			background: -webkit-linear-gradient(top, #ffe078 0%,#f5bf05 100%);
			background: linear-gradient(to bottom, #ffe078 0%,#f5bf05 100%);
			border: 1px solid;
			font-size: 1.6rem;
			opacity: 0.8;

			&:hover {
				opacity: 1;
				cursor: pointer;
			}
		}

	}
}

.catalog--cart {

	.products:empty {
		padding: 3rem;
		text-align: center;
		font-size: 1.8rem;
		color: $clr-grey;

		&:before {
			content: 'Корзина пуста!';
		}
	}

	.product {
		border: 1px solid $clr-grey;

		&:not(:first-of-type) {
			border-top: 0;
		}

		&:first-of-type {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px
		}

		&:last-of-type {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px
		}

		.product__action {
			width: auto;
			height: auto;
			border: none;
			background: none;
			color: $clr-blue;
		}

	}

	.summ {
		margin-top: 3rem;
		text-align: right;
		font-size: 2rem;
	}
}

@import 'responsive.scss';
